/* Desktop CSS */

nav.main {
  float: none;
  width: 100%;
  border: none;
}

#content {
  $width: 8 / 12 * 100%;
  width: $width - 4%;
  float:none;
}

.main_image {
  $width: 4 / 12 * 100%;
  width: $width - 4%;
}
