/* Desktop CSS */

nav.main {
  float: none;
  width: 100%;
}

#content {
  $width: 7 / 12 * 100%;
  width: $width - 4%;
  float:none;
}

.main_image {
  $width: 4 / 12 * 100%;
  width: $width - 4%;
}
