/* Tablet CSS */

nav.main {
  float: left;
  width: (2 / 12 * 100) - 2%;
  margin-right:2%;
  @include border-radius(3px);

  ul {
    margin-left: 2%;

    li {
      list-style-type: none;
      width: auto;
      float: left;

      a {
        border: none;
        border-radius: 0;
        margin: 0;
        font-size: .8em;
        padding: .7em .9em;
      }
    }
  }
}

#content {
  $width: 10 / 12 * 100%;
  width: $width - 6%;
  padding: 2%;
  float:left;
}

.main_image {
  $width: 6 / 12 * 100%;
  width: $width - 4%;
  float:right;
  margin-left:10px;
}