/* Variables */
$main-font: "Helvetica Neue, Helvetica, Arial, sans-serif";
$main-colour: #292c44;
$accent-colour: #ff5349;
$alt1-colour: #18cdca;
$alt2-colour: #4f80e1;
$image_width: "100px";

/* Mixins */
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

nav.main {
  background: $alt1-colour;
  ul li a {
    background:$alt2-colour;
  }
}

/* Import partials: different rules depending on screen size */
@import "phone";

@media only screen and (min-width: 600px) {
  @import "tablet";
}

@media only screen and (min-width: 960px) {
  @import "desktop";
}

body {
  font-family: $main-font;
}


h1 {
  font-family: $main-font;

}

.main_image {
  $width: 6 / 12 * 100%;
  width: $width - 4%;
  float:right;
  margin:1%;
  padding:1%;
  border:1.5px solid grey;
  @include border-radius(10px);
}

#flower_img {
  width:100%;
}


.clear {
  clear:both;
}
