/* Variables */
$main-font: "Raleway", sans-serif;
$main-colour: #292c44;
$accent-colour: #ff5349;
$alt1-colour: #151515;
$alt2-colour: #9ca7be;
$image_width: "100px";

/* Mixins */
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

nav.main {
  background:$alt1-colour;
  ul li a {
    color: $alt2-colour;
  }
  ul li a:hover {
    color:#F0E704;
  }
}

body {
  font-family: $main-font;
  background-color: $main-colour;
  margin:0;
}

#content {
  background-color: aliceblue;
  @include border-radius(3px);
  margin:2% auto 2% auto;
}

h1 {
  font-family: $main-font;
}


.main_image {
  padding:1%;
  border:1.5px solid $alt2-colour;
  @include border-radius(3px);
  margin:10px 2px 2px 2px;
}

.image_caption {
  font-size:0.8em;
}

#flower_img {
  width:100%;
}

.clear {
  clear:both;
}
.section {
  margin-top:100px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  background-color: white;
  @include border-radius(3px);
  padding-right:1em;
}

a:hover {
  color:#0072BC;
}

.nav_link_section {
  font-size: .7em;
  margin:2px;
  text-decoration:none;
}

.nav_link_top {
  @extend .nav_link_section;
  font-weight: 600;
}

/* Import partials: different rules depending on screen size */
@import "phone";

@media only screen and (min-width: 600px) {
  @import "tablet";
}

@media only screen and (min-width: 850px) {
  @import "desktop";
}